/********NavBar**********/
.navbar-brand{
    color: $color-black;
    &:hover,
    &:active,
    &:visited,
    &:focus{
        color: $color-black;
        background-color: $color-green;
        border-color: $color-black;
        font-weight: 600;
        box-shadow: $color-grey;
    }
}

.nav-link{
    color: $color-black;
    &:hover{
        color: $color-grey;
        font-weight: 600;
        box-shadow: $color-grey;
    }
}

.btn.btn-success{
    background-color: $color-black;
    border-color: $color-green;
    &:hover,
    &:active,
    &:visited,
    &:focus{
        color: $color-black;
        background-color: $color-green;
        border-color: $color-black;
        box-shadow: $color-green;
    }
}