$body-bg: #3c7e00;
$body-color: #ffff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html , body , #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

#root > main , #root > footer {
    //padding-top: 1rem ;
    padding-bottom: 1rem;
}

#root > main {
    flex-grow: 1;
}

.container__layout{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container__table{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

